<div class="row" *ngIf="product">
    <div class="col-6">
        <h3>{{product.name}}</h3>
        <p>{{product.price}} تومان</p>
        <div class="d-flex justify-content-md-start align-items-center"> 
            <i (click)="decerementQuantity()" class="fa fa-minus-circle text-warning ml-2" style="cursor: pointer; font-size: 2em;"></i>
            <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
            <i (click)="incerementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
            <button (click)="addItemToBasket()" class="btn btn-outline-success btn-lg ml-4">افزودن به سبد خرید</button>
        
        </div>
    </div>
    <div class="col-6">
        <img src="{{product.imageUrl}}" alt="{{product.name}}" class="img-fluid w-100" />
    </div>
</div>
<div class="row ml-5">
    <div class="col-12 mr-3">
        <h4>توضیحات</h4>
        <p>{{product.description}}</p>
    </div>
</div>

